@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg:rgba(228, 239, 227, 0.408);
    --p:rgb(140, 141, 142);
    --border:rgba(208, 192, 192, 0.803);
    --white: rgb(255, 255, 255);
    --label:rgb(209, 209, 200);
    --black:black;
    --img1:rgba(72, 166, 249, 0.3);
    --img4:rgba(72, 166, 249, 0.3);
    --inputBg:rgba(0, 255, 255, 0.011);

}
body.dark{
    --bg:#111827;
    --white:#1F2937;
    --black:white;
    --border:#374151;
    
    --img1:#4a6ca4;

    --img4:#4a6ca4;
    --inputBg:#111827: 


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.main{
    min-height: 100%;
    width: 100%;
}
.side-bar{
    height: 100%;
    width: 18%;
    background-color: var(--white);
    border-right:1px solid var(--border) ;
    position: fixed;
    padding: 25px 15px;
}

.nav{
    height: 8%;
    width:82%;
    background-color: aquamarine;
    position: absolute;
    right: 0;
}
.content{
    min-height: 92%;
    width: 82%;
    background-color: var(--bg);
    position: absolute;
    right: 0;
    top: 8%;
    padding: 45px 40px;
    font-family:inter;
    display: block;

}
.content h1{
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 700;
}
.p{
    color: var(--p);
    font-size: 14px;
    font-weight: 400;
}

.box{
    height: 23%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    gap: 22px;
    margin-top: 20px;
}
.box1{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 20px;
}
.outer1{
    width: 25%;
}
.outer2{
    width: 25%;
}
.outer3{
    width: 25%;
}
.outer4{
    width: 25%;
}
.box2{
    width: 100%;
    height: 100%;
    background-color:var(--white);
    border-radius: 10px;
    border: 1px solid var(--border);
    
    padding: 20px;
}
.box3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--white);
    /* border: 1px solid rgb(168, 165, 165); */
    border: 1px solid var(--border);

    padding: 20px;


}
.box4{
    width: 100%;
    height: 100%;
    background-color:var(--white);
    border-radius: 10px;
    /* border: 1px solid rgb(168, 165, 165); */
    border: 1px solid var(--border);

    padding: 20px;
}
.box1 img{
    height: 20px;
    width: 20px;
}
.box3 img{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;

}
.box2 img{
    
    height: 30px;
    width: 30px;
}
.box4 img{
    
    height: 40px;
    width: 40px;
}

.img-cover2{
    height: 40px;
    width: 40px;
    background-color: rgba(82, 248, 145, 0.303);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;

}
.img-cover1{
    height: 40px;
    width: 40px;
    background-color:var(--img1) ;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.img-cover4{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--img4);
    margin-bottom: 20px;

}
.amount{
    margin-top: 6px;
}
.red{
    color: rgb(168, 4, 4);
}
.green{
    color: green;
}

.center{
    height: 50%;
    width: 100%;
    /* background-color: blueviolet; */
    margin-top: 22px;
    display: flex;
    gap: 22px;
}
.graph-area{
    height: 350px;
    width: 65%;
    background-color: rgb(64, 50, 78);
    border-radius: 10px;
}
.theme-area{
    height: 60%;
    width: 35%;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 22px;
}
.theme{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#check{
    display: none;
}

.label{
    height: 23px;
    width: 43px;
    background-color: var(--label);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    transition: transform 0.3s ease;
    top: 2px;
    left: 2px;
}

.label.active .circle{
    transform: translate(20px);
}
.hr{
    height: 1px;
    width: 100%;
    margin-top:17px;
    margin-bottom:14px;

    background-color: rgba(208, 192, 192, 0.803);

}
.btn{
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgba(245, 149, 149, 0.148);
    border: 1px solid rgba(238, 151, 151, 0.503);
    cursor: pointer;
    border-radius: 5px;
}
.btn img{
    height: 20px;
    width: 15px;
}
.btn p{
    font-size: 13px;
    font-weight: 600;
    color: rgb(171, 2, 2);
}
.bottom{
    min-height:150px ;
    width: 64%;
    background-color: var(--white);
    border: 1px solid var(--border);
    margin-top: 22px;
    border-radius: 10px;
    padding: 22px;
}
.all-transaction-inputs{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.search input{
    border: none;
    outline: none;
    background-color:var(--inputBg); 
    
}

.search{
    width: 40%;
    height: 30%;
    background-color: var(--bg);
    /* background-color: rgba(221, 222, 220, 0.307); */
    padding: 10px 20px;
    border-radius: 10px;

}

.bottom h2{
    margin-bottom: 15px;
}

.bottom select{
    background-color: var(--bg);
    /* background-color: rgba(221, 222, 220, 0.307); */

    width: 70%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.header{
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 1fr 2fr 2fr 2fr 1fr; */
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    /* margin-bottom: 10px; */
}
.inner{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    margin-bottom: 14px;
}
.row p{
    font-size: 14px;
}

.color{
    color: var(--black);
}

.row{
    position: relative;
    top: 7px;

}

.uppercase{
    text-transform: uppercase;
    color: rgb(107, 114, 128);
    font-size: 12px;
    font-weight: 700;
}
.date{
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}
.description{
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
}
.category{
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
}
.price{
    font-size: 14px;
    font-weight: 600;
}
.side-bar h1{
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
}
.logo-part img{
    height: 40px;
    width: 40px;
}.logo-part{
    display: flex;
    gap: 4px;
}
.sub-heading{
    font-size: 12px;
    font-weight: 400;
    color: var(--p);
}
.div-option-dashboard{
    display: flex; 
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    /* background-color: rgba(108, 189, 251, 0.318); */
    border-radius: 10px;
    color: rgba(90, 90, 92, 0.843);
    transition: background-color 0.3s ease;
    cursor:pointer
}
.div-option-dashboard:hover{
    background-color: rgba(108, 189, 251, 0.318);
    color: rgba(19, 2, 171, 0.899);
}

.active{
    background-color: rgba(108, 189, 251, 0.318);
    color: rgba(19, 2, 171, 0.899);
}

.div-option-setting{
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 10px 20px;
    /* background-color: rgba(108, 189, 251, 0.318); */
    color: rgba(90, 90, 92, 0.843);
    border-radius: 10px;
    gap: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.div-option-setting:hover{
    color: rgba(19, 2, 171, 0.899);
    background-color: rgba(108, 189, 251, 0.318);
    
}

.options{
    padding-inline:2px; 
    margin-top: 32px;
    width: 100%;
}

.add{
    width:88%;
    padding: 12px 20px;
    position: absolute;
    left: 13px;
    bottom: 20px;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.settings{
    height: 92%;
    width: 82%;
    position: absolute;
    right: 0;
    top:8%;
    padding: 28px;
    background-color: rgba(228, 239, 227, 0.408);
    display: none;

}

.settings h1{
    font-size: 28px;
    font-weight: 700;
    color: rgb(26, 29, 33);
    margin-bottom: 6px;
}

.settings p{
    font-size: 14px;
    font-weight: 400;
}
.settings-input-left label{
    display: block;
    margin-bottom: 6px;
}
.settings-input-right label{
    display: block;
    margin-bottom: 6px;

}
.settings-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}
.profile-details{
    height: 35%;
    width: 65%;
    background-color: white;
    margin-top: 22px;
    padding: 22px;
    border: 1px solid rgba(208, 192, 192, 0.803);
    border-radius: 10px;

}
.profile-details h2{
    margin-bottom: 10px;
}
.settings-input-left{
    height: 50%;
    width: 50%;
}
.settings-input-right{
    width: 50%;
    height: 50%;

}
.settings-input-left input{
    height: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(208, 192, 192, 0.803);
    border-radius: 5px;
    width: 100%;
    background-color: rgba(228, 239, 227, 0.408);

}
.settings-input-right select{
    height: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(208, 192, 192, 0.803);
    border-radius: 5px;
    width: 100%;
    background-color: rgba(228, 239, 227, 0.408);
}

.save{
    
    width:20%;
    padding:6px;
    position: relative;
    top: 45px;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;

}

.form{
    height: 57%;
    width: 30%;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid rgba(208, 192, 192, 0.803);
    border-radius: 10px;
    padding: 23px;

}
.form-div{
    display: none;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 2;
}
.form h1{
    font-size: 16px;
    margin-bottom: 18px;
}
label{
    display: block;
    margin-bottom:7px;
    font-size: 14px;
    font-weight: 500;
}
.input1 select{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(208, 192, 192, 0.803);
    background-color: rgba(228, 239, 227, 0.408);


}
.input1{
    margin-bottom: 10px;
    width: 100%;;
}
.input1 input{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(208, 192, 192, 0.803);
    background-color: rgba(228, 239, 227, 0.408);

}
.input2{
    margin-bottom: 20px;
    width: 50%;


}
 .input2 input{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(208, 192, 192, 0.803);
    background-color: rgba(228, 239, 227, 0.408);

 }

 .amout-date{
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }
.add1{
    
    width:93%;
    padding: 12px 20px;
    position: absolute;
    left: 13px;
    bottom: 20px;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.cross{
    cursor: pointer;
    color:gray;
}
.cross:hover{
    color: black;
}

.red{
    color: red;
}
.green{
    color: green;
}
.delete{
    height: 22px;
    width: 17px;
    position: relative;
    bottom: 4px;
    left: 10px;
    cursor: pointer;
}
.pencil{
    position: relative;
    right: 5px;
    bottom: 2px;
    cursor: pointer;
}
.edit-form-div{
    
    display: none;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 2;
}

.edit-form{
    height: 57%;
    width: 30%;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid rgba(208, 192, 192, 0.803);
    border-radius: 10px;
    padding: 23px;

}




